<nav class="sidebar">
  <a href="/">
    <img class="komodo-logo" src="/assets/img/komodo-logo-horizontal-03.png">
  </a>
  <div class="sidebar-links-container">
    <div class="sidebar-title">Introduction to Komodo</div>
    <ul class="sidebar-links">
      <% topicTree.forEach((primaryTopicNav) => { %>
        <li class="sidebar-main-link">
          <a href="/primaryTopics/<%= primaryTopicNav.id %>"> <%= primaryTopicNav.title %> </a>
          <ul class="sidebar-links">
            <% primaryTopicNav.secondaryTopics.forEach((secondaryTopicNav) => { %>
              <li class="sidebar-second-link">
                <a href="/primaryTopics/<%= primaryTopicNav.id %>/secondaryTopics/<%= secondaryTopicNav.id %>"> <%= secondaryTopicNav.title %> </a>
              </li>
            <% }); %>
          </ul>
        </li>
      <% }); %>
    </ul>
  </div>
</nav>
