<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title><%= primaryTopic.title %>: Komodo Resources</title>
  </head>
  <body>
    <div class="flex-container">
      <% include ../partials/navbar.ejs %>

      <main class="content">
        <div class="site-title content-flex-container unique-row breadcrumb">
          <i class="fas fa-angle-right breadcrumb-link"></i><a href="/primaryTopics/<%= primaryTopic.id %>" class="breadcrumb-link"><%= primaryTopic.title %></a>
        </div>
        <div class="site-content">
          <hr>
          <%- primaryTopic.content %>
        </div>
        <div class="site-content">
          <hr>
          <h1>Content Index</h1>
          <ul class="topic-list">
            <% primaryTopic.secondaryTopics.forEach((secondaryTopic) => { %>
              <li>
                <a href="/primaryTopics/<%= primaryTopic.id %>/secondaryTopics/<%= secondaryTopic.id %>"> <%= secondaryTopic.title %> </a>
              </li>
            <% }) %>
          </ul>
          <hr>
          <div class="site-footer">
            <h3><span class="copyright-symbol">&#9400;</span><%= (new Date()).getFullYear() %> Komodo Platform</h3>
          </div>
          <!--<form action="/primaryTopics/<%= primaryTopic.id %>/secondaryTopics/new" method="get">
            <button type="submit" class="btn">New Secondary Topic</button>
          </form>-->
        </div>
      </main>

    </div>
    <% include ../partials/baseScripts.ejs %>
  </body>
</html>
