<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title><%= primaryTopic.title %>: Komodo Resources</title>
  </head>
  <body>
    <div class="flex-container">
      <% include ../partials/navbar.ejs %>

      <main class="content">
        <div class="site-title content-flex-container unique-row">
          <h1><%= primaryTopic.title %></h1>
          <form action="/primaryTopics/<%= primaryTopic.id %>/edit" method="get">
            <button type="submit" class="btn">Edit</button>
          </form>
          <form action="/primaryTopics/<%= primaryTopic.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
        <div class="site-content">
          <p><%- primaryTopic.content %></p>
          <p><%- testKDoc %></p>
        </div>
        <hr>
        <div class="site-content">
          <h1>Secondary Topics</h1>
          <ul class="topic-list">
            <% primaryTopic.secondaryTopics.forEach((secondaryTopic) => { %>
              <li>
                <a href="/primaryTopics/<%= primaryTopic.id %>/secondaryTopics/<%= secondaryTopic.id %>"> <%= secondaryTopic.title %> </a>
              </li>
            <% }) %>
          </ul>
          <form action="/primaryTopics/<%= primaryTopic.id %>/secondaryTopics/new" method="get">
            <button type="submit" class="btn">New Secondary Topic</button>
          </form>
        </div>
      </main>

    </div>
    <% include ../partials/baseScripts.ejs %>
  </body>
</html>
