<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head.ejs %>
      <title><%= thirdTopic.title %>: Komodo Resources</title>
  </head>
  <body>
    <div class="flex-container">
      <% include ../partials/navbar.ejs %>

      <main class="content">
        <div class="site-title content-flex-container unique-row breadcrumb">
            <i class="fas fa-angle-right breadcrumb-link"></i>
          <a href="/primaryTopics/<%= thirdTopic.primaryTopicId %>" class="breadcrumb-link"><%= topicTree[thirdTopic.primaryTopicId - 1].title %></a>
            <i class="fas fa-angle-right breadcrumb-link"></i>
          <a href="/primaryTopics/<%= thirdTopic.primaryTopicId %>/secondaryTopics/<%= thirdTopic.secondaryTopicId %>" class="breadcrumb-link"><%= topicTree[thirdTopic.primaryTopicId - 1].secondaryTopics[thirdTopic.secondaryTopicId - 1].title %></a>
            <i class="fas fa-angle-right breadcrumb-link"></i>
          <a href="/primaryTopics/<%= thirdTopic.primaryTopicId %>/secondaryTopics/<%= thirdTopic.secondaryTopicId %>/thirdTopics/<%= thirdTopic.id %>" class="breadcrumb-link"><%= thirdTopic.title %></a>
        </div>
        <hr>
        <div class="site-content">
          <p><%- thirdTopic.content %></p>
          <hr>
          <h1>Fourth Topics</h1>
          <ul class="list-group">
            <% thirdTopic.fourthTopics.forEach((fourthTopic) => { %>
              <li class="topic-list">
                <a href="/primaryTopics/<%= fourthTopic.primaryTopicId %>/secondaryTopics/<%= fourthTopic.secondaryTopicId %>/thirdTopics/<%= fourthTopic.thirdTopicId %>/fourthTopics/<%= fourthTopic.id %>"><%= fourthTopic.title %></a>
              </li>
            <% }); %>
          </ul>
          <hr>
          <div class="site-footer">
            <h3><span class="copyright-symbol">&#9400;</span><%= (new Date()).getFullYear() %> Komodo Platform</h3>
          </div>
        </div>
      </main>
    </div>
    <% include ../partials/baseScripts.ejs %>
  </body>
</html>
