<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head.ejs %>
      <title><%= fourthTopic.title %>: Komodo Resources</title>
  </head>
  <body>
    <div class="flex-container">

      <main class="content">
        <div class="site-content content-flex-container unique-row">
          <h1>[insert breadcrumb]</h1>
        </div>
        <hr>
        <div class="site-content">
          <p><%- fourthTopic.content %></p>
          <hr>
          <h1>Fifth Topics</h1>
          <ul class="list-group">
            <% fourthTopic.fifthTopics.forEach((fifthTopic) => { %>
              <li class="topic-list">
                <a href="/primaryTopics/<%= fifthTopic.primaryTopicId %>/secondaryTopics/<%= fifthTopic.secondaryTopicId %>/thirdTopics/<%= fifthTopic.thirdTopicId %>/fourthTopics/<%= fifthTopic.fourthTopicId %>/fifthTopics/<%= fifthTopic.id %>"><%= fifthTopic.title %></a>
              </li>
            <% }); %>
          </ul>
        </div>
      </main>
    </div>
    <% include ../partials/baseScripts.ejs %>
  </body>
</html>
